<html>
  <head>
    <title>node.jsでGET</title>
  </head>
  <body>
    <h1>node.jsでGET</h1>
    <%= name %><br />
    <form method="GET" action="/">
      <input type="text" name="name" id="name" />
      <input type="submit" />
    </form>
  </body>
</html>
